/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  line-height: 1;
  /* border-bottom: 8px solid #087f5b; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Accordion Component */
.accordion {
  width: 700px;
  margin: 100px auto;
  color: #343a40;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 32px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid #087f5b;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #087f5b;
}

/* carousel */

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel {
  width: 800px;
  margin: 100px auto;
  border-radius: 8px;
  background-color: #087f5b;
  padding: 32px 48px 32px 86px;
  position: relative;
  display: flex;
  /* align-items: center; */
  gap: 86px;
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}
.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}
.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

/* carousel controls */
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn--left {
  position: absolute;
  /* top: 50%; */
  left: 0;
  transform: translate(-50%, -50%);
}
.btn--right {
  position: absolute;
  /* top: 50%; */
  right: 0;
  transform: translate(50%, -50%);
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

/* dots */
.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 32px);
  bottom: 0;
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}

/* Table */

table {
  width: 800px;
  margin-top: 100px;
  font-size: 18px;
  /* border: 1px solid #343a40; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}

/* Pagination */
.pagination {
  width: 550px;
  margin-top: 100px;
  justify-content: center;
  display: flex;
  position: relative;
  gap: 16px;
  padding: 20px;
  align-items: center;
}

.btn-p {
  height: 40px;
  width: 40px;
  font-size: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.btn--left {
  height: 52px;
  width: 52px;
  top: 50%;
  position: absolute;
  left: 0;
}
.btn--right {
  height: 52px;
  width: 52px;
  top: 50%;
  position: absolute;
  right: 0;
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.on-page {
  background-color: #087f5b;
  color: #fff;
}

.btn-nav {
  border: 1px solid #087f5b;
}

/* Button Actions */
.btn-p:hover,
.btn-p:hover .btn-icon {
  background-color: #e6fcf5;
  color: #343a40;
  stroke: #343a40;
}

.btn-p:active,
.btn-p:active .btn-icon {
  background-color: #087f5b;
  color: #fff;
  stroke: #fff;
}
